*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body{
    background-color: #f8f8f8;
}

.title{
    text-align: center;
    font-size: 70px;
    font-family: Cursive;
    font-style: normal;
    color: #03cee5;
}

.title:hover{
    color: #30b68ede;
}

.box{
    border: 2px solid rgb(61, 136, 234);
    border-radius: 40px;
    width: 360px;
    height: 460px;
    background-color: rgb(55, 178, 255);
    text-align: center;
    margin-left: 36%;
    margin-top: 1%;
}

input{
    border: 2px solid rgb(61, 136, 234);
    border-radius: 20px;
    width: 310px;
    height: 90px;
    background-color: rgb(247, 247, 247);
    text-align: right;
    margin:22px;
    align-items: center;
    font-size: 50px;
    font-weight:500;
    color: black;
}

.buttons button{
    border: 2px solid rgba(43, 72, 187, 0.803);
    border-radius:10px;
    width: 65px;
    height: 50px;
    background-color: rgb(38, 91, 224);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    text-align: center;
    margin:6px;
    cursor: pointer;
}

#equal{
    width: 145px;
    font-size: 40px;
}

